@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.bookshelf_wrapper {
  position: relative;
  padding: 0 10px 20px;
  width: 100%;
}

.bookshelf_title {
  @include baseText(22px, 600);
  color: secondaryColor('dark');
}

.bookshelf_title {
  border-bottom: 1px solid primaryColor('light');
}

.bookshelf_books {
  position: relative;
  @include baseRow;
  align-items: stretch;
  flex-wrap: wrap;
}
